@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Architects Daughter', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff7ca;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20rem;
  height: 70vh;
  background-color: white;
  -webkit-box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 1.5rem;
  padding: 5px;
}

.App__h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.inputContainer {
  margin-bottom: 1rem;
}

.inputContainer__input {
  min-height: 30px;
  min-width: 200px;
  font-size: 18px;
  padding-left: 5px;
}

button {
  margin-left: 1rem;
  height: 34px;
  width: 80px;
  cursor: pointer;
  text-transform: capitalize;
  background-color: white;
  border: 1px solid orange;
}

button:hover {
  background-color: #e6e6e6;
}

.taskContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  gap: 10px;
  padding: 5px;
  overflow: scroll;
}

.taskContainer__task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 10px;
  border-radius: 5px;
}

.taskContainer__task:nth-child(2n) {
  background-color: #fff8da;
}

.taskContainer__task:nth-child(2n + 1) {
  background-color: #e4ffef;
}

.taskContainer__task__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 30px;
}

.taskContainer__inputEdit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: red;
}

.taskContainer__inputEdit:nth-child(2n) {
  background-color: #fff5c6;
}

.taskContainer__inputEdit:nth-child(2n + 1) {
  background-color: #daffe9;
}

.taskContainer__inputEdit__input {
  min-height: 30px;
  font-size: 18px;
}
/*# sourceMappingURL=style.css.map */